

body {
    background-color: #FFFFF5;
    margin: 0;
    padding: 0;
}

.contenu {
    padding: 1em;
}

/* Navigation */

nav ul {
    display: flex;
    list-style: none;
    justify-content : center ;
    gap: 2em;
    padding: 1em;
    background-color: #D2EAFD;
    margin: 0;
    border: 2px solid #000000
} 

nav ul li a {
    text-decoration: none;
    color: #333;
    font-family: serif;
}

nav ul li a:hover {
    color: #000;
    text-decoration: underline;
}                    

/* Titres et sections */

h1 {
    text-align:center
}
section {
    text-align:center;
    display: block;
    unicode-bidi: isolate;
}

/* Tableau du lexique */

table { border-collapse: collapse; width: 100%; }
th { border: 2px solid #000000; padding: .4em .7em; vertical-align: top; }
td { border: 2px solid #000000; padding: .4em .7em; vertical-align: middle; }
th { background: #D2EAFD; text-align: center; }
td { background: #FFFFFF}
td.term-cell { text-align: center; font-style: italic; }
              
/* Affichage des pages */ 

body.type h3,
body.causes h3,
body.role h3,
body.lexique h3,
body.consequence h3,
body.procede h3{
    padding: 1px;
    background-color: #B1DDFC;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #000000;
    margin:0;
    display: inline-block;
   }
   
   body.role details,
   body.type details,
   body.causes details,
   body.consequence details,
   body.procede details{
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
  

body.corpus h3{
     padding: 1px;
    background-color: #B1DDFC;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #000000;
    margin-top:10px;
    display: inline-block;
}
body.accueil h3{
    padding: 1px;
    background-color: #B1DDFC;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: #000000;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    margin:0;
}

/* Containers de de mise en page */

.container{
    display: flex;
    column-gap: 10px;
    justify-content: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #D2EAFD;
    text-align:justify;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    margin-bottom: 20px;
}

main{
      
    column-gap: 10px;
    border: 1px solid #ccc;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-top: 20px;
    border-radius: 10px;
    background-color: #D2EAFD;
    text-align:justify;
    margin-bottom: 60px;
    margin-top:10px;
    display: inline-block;
}

ul{
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-top: 20px;
    margin:0;
}

p{
    padding-top:5px;
    padding-bottom:5px;
}